<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shark 1</key>
		<string>&quot;Up close and personal&quot;</string>
	</dict>
	<dict>
		<key>shark 2</key>
		<string>&quot;Shark with a diver&quot;</string>
	</dict>
	<dict>
		<key>shark 3</key>
		<string>&quot;In the open sea&quot;</string>
	</dict>
	<dict>
		<key>takhi 1</key>
		<string>&quot;A mother and calf&quot;</string>
	</dict>
	<dict>
		<key>takhi 2</key>
		<string>&quot;Eating with a friend&quot;</string>
	</dict>
	<dict>
		<key>takhi 3</key>
		<string>&quot;Running free&quot;</string>
	</dict>
	<dict>
		<key>fish 1</key>
		<string>&quot;Up close&quot;</string>
	</dict>
	<dict>
		<key>fish 2</key>
		<string>&quot;In the open sea&quot;</string>
	</dict>
	<dict>
		<key>fish 3</key>
		<string>&quot;With a diver&quot;</string>
	</dict>
	<dict>
		<key>elephant 1</key>
		<string>&quot;In the savannah&quot;</string>
	</dict>
	<dict>
		<key>elephant 2</key>
		<string>&quot;A pair&quot;</string>
	</dict>
	<dict>
		<key>elephant 3</key>
		<string>&quot;Ready to charge&quot;</string>
	</dict>
</array>
</plist>
